@page "/projects/all-attendees"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.RegularExpressions
@using System.Text.Json

@inject HttpClient Http

<PageTitle>Projektanmeldungen - HTLVB Prowo</PageTitle>

<h2 class="text-2xl pb-2 print:hidden">Projektanmeldungen</h2>
@if (attendanceOverview == null)
{
    <p><em>Anmeldungen werden geladen...</em></p>
}
else
{
    <div class="flex flex-col gap-2 pb-2 print:hidden">
    @foreach (var department in attendanceOverview.Groups.GroupBy(v => Regex.Replace(v.Name, @"\D*$", "")))
    {
        <div class="flex gap-4">
            @foreach (var @group in department)
            {
                <button class="btn btn-blue@(group == selectedGroup ? "-selected" : "")" onclick=@(() => SelectGroup(@group))>@group.Name</button>
            }
        </div>
    }
    </div>

    var displayGroups = selectedGroup == null ? attendanceOverview.Groups : new[] { selectedGroup };
    foreach (var group in displayGroups)
    {
        <div class="break-after-page">
            <h3 class="text-xl pb-2 print:hidden">@group.Name</h3>
            <table class="table-striped min-w-full mb-4">
                <thead>
                    <tr class="hidden print:table-row">
                        <th colspan="@(attendanceOverview.Dates.Count + 2)">Projektanmeldungen @group.Name</th>
                    </tr>
                    <tr>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        @foreach (var date in attendanceOverview.Dates)
                        {
                            <th>@date.ToLongDateString()</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach(var student in group.Students)
                    {
                        <tr>
                            <td>@student.LastName</td>
                            <td>@student.FirstName</td>
                            @foreach (var projects in student.Projects)
                            {
                                <td>
                                    <div class="flex flex-col gap-2 items-start">
                                        @foreach (var project in projects.List)
                                        {
                                            var background = project.IsWaiting ? "bg-yellow-400" : "bg-green-400";
                                            var deletionState = registrationDeletionState.TryGetValue(project, out var s) ? s : new Nullable<RegistrationDeletionState>();
                                            var isRegistrationMarkedForDeletion = deletionState.HasValue && deletionState.Value == RegistrationDeletionState.MarkedForDeletion;
                                            var isRegistrationDeleting = deletionState.HasValue && deletionState.Value == RegistrationDeletionState.Deleting;
                                            var isRegistrationDeleted = deletionState.HasValue && deletionState.Value == RegistrationDeletionState.Deleted;
                                            var opacityStyle = isRegistrationDeleting || isRegistrationDeleted ? "opacity-50" : "";
                                            <div class="flex items-stretch">
                                                <div class="px-4 py-2 rounded-l last:rounded-r @background @opacityStyle">
                                                    @if (project.ShowProjectAttendeesLink != null)
                                                    {
                                                        <a class="link" href="@project.ShowProjectAttendeesLink">@project.LongName</a>
                                                    }
                                                    else
                                                    {
                                                        <span>@project.LongName</span>
                                                    }
                                                </div>
                                                @if (project.DeregisterUserLink != null)
                                                {
                                                    var bgStyle = isRegistrationMarkedForDeletion ? "bg-red-400" : "bg-slate-300";
                                                    var title = deletionState switch
                                                    {
                                                        var v when !v.HasValue => "Abmelden",
                                                        var v when v.HasValue && v.Value == RegistrationDeletionState.MarkedForDeletion => "Wirklich abmelden",
                                                        _ => ""
                                                    };
                                                    var animationStyle = deletionState == RegistrationDeletionState.Deleting ? "animate-bounce" : "";
                                                    <button class="inline-block px-4 py-2 @bgStyle last:rounded-r @opacityStyle" title="@title" onclick="@(() => DeregisterUser(project))" disabled="@isRegistrationDeleted">
                                                        <i class="fa-solid fa-arrow-right-from-bracket @animationStyle"></i>
                                                    </button>
                                                }
                                                @if (isRegistrationDeleted)
                                                {
                                                    string subject = $"Abmeldung vom Projekt \"{project.Name}\"";
                                                    string encodedSubject = Uri.EscapeDataString(subject);
                                                    <a href="mailto:@student.MailAddress?subject=@encodedSubject" class="flex items-center px-4 py-2 bg-slate-300 last:rounded-r" title="Benachrichtigung schicken">
                                                        <i class="fa-solid fa-paper-plane"></i>
                                                    </a>
                                                }
                                            </div>
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@code {
    private AttendanceOverviewDto? attendanceOverview;
    private GroupDto? selectedGroup;

    private enum RegistrationDeletionState
    {
        MarkedForDeletion,
        Deleting,
        Deleted
    }

    private Dictionary<StudentProjectDto, RegistrationDeletionState> registrationDeletionState = new();

    private JsonSerializerOptions serializerOptions = new JsonSerializerOptions(JsonSerializerDefaults.Web) { Converters = { new DateOnlyJsonConverter(), new TimeOnlyJsonConverter() } };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            attendanceOverview = await Http.GetFromJsonAsync<AttendanceOverviewDto>("/api/projects/attendees", serializerOptions);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        selectedGroup = null;
    }

    private void SelectGroup(GroupDto group)
    {
        selectedGroup = ReferenceEquals(selectedGroup, group) ? null : group;
        StateHasChanged();
    }

    private async Task DeregisterUser(StudentProjectDto project)
    {
        if (registrationDeletionState.TryGetValue(project, out var deletionState))
        {
            registrationDeletionState[project] = RegistrationDeletionState.Deleting;
            StateHasChanged();

            try
            {
                var response = await Http.DeleteAsync(project.DeregisterUserLink);
                response.EnsureSuccessStatusCode();

                registrationDeletionState[project] = RegistrationDeletionState.Deleted;
                StateHasChanged();
            }
            catch
            {
                registrationDeletionState[project] = RegistrationDeletionState.MarkedForDeletion;
                StateHasChanged();
                throw;
            }
        }
        else
        {
            registrationDeletionState.Add(project, RegistrationDeletionState.MarkedForDeletion);
            StateHasChanged();
        }
    }
}
